a{
    text-decoration: none;
    outline: 0;
}
a:hover{
    text-decoration: none;
}
.wechat-body .workspace-wrapper .col-slide-menu,.wechat-body .workspace-wrapper .col-slide-main{
    display: table-cell;
}
.wechat-body{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 14px 0px;
    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","寰蒋闆呴粦","榛戜綋",Arial,sans-serif;
    color: #222;
    font-size: 14px;
    margin-top: 10px;
}
.workspace-wrapper{
    width: 100%;
    border: 1px solid #EFE9EB;
    background-color: #fff
}
.dt-title-function{
    margin-left: 10px;
    width: 23px;
    height:23px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon_menu_function.png") no-repeat;
}
.dt-title{
    margin-left: 10px;
    width: 23px;
    height:23px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon_menu_function.png") no-repeat;
}
.dt-title-management{
    margin-left: 10px;
    width: 23px;
    height:23px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon_menu_management.png") no-repeat;
}
.dt-title-statistics{
    margin-left: 10px;
    width: 23px;
    height:23px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon_menu_statistics.png") no-repeat;
}
.dt-title-config{
    margin-left: 10px;
    width: 23px;
    height:23px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon_menu_setup.png") no-repeat;
}
.col-slide-menu{
    width: 17.5%;
    max-width: 208px;
    vertical-align: top;
    border-right: 1px solid #e7e7eb;
    background-color: #fff;
    min-height: 1px;
}
.workspace-wrapper{
}
.menu{
    margin-top: 13px;
    padding-bottom: 6px;
    padding-top:8px;
   /* border-top: 1px solid #e7e7eb;*/
}
.menu-item{
    line-height: 34px;
}
.menu-item a{
    display: block;
    padding: 0 0 0 63px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #222;
}
.menu-title{
    position: relative;
    padding: 0 30px 0;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 45px;
    color: #8d8d8d;
    margin-bottom: 0;
}
.menu-item-none{
    padding: 0 66px 0;
    line-height: 30px;
    color: #8d8d8d;
}
.col-slide-main{
    width: 2000px;
    height: 650px;
}
.cs-col-slide-main-hd{
    line-height: 40px;
    border-bottom: 1px solid #e7e7eb;
}
.cs-col-slide-main-hd h2{
    font-size: 16px;
    padding: 0 30px;
    line-height: 75px;
    font-weight: 400;
    font-style: normal;
}
.item-selected{
    background-color: #44b549;
    color: #fff;
}
.item-mouseover{
    background-color: #F4F5F9;
}
.menu-edit-area-wrapper{
    padding: 0 30px 0;
    height:630px;
    overflow-y: scroll;
}
.cs-inner-edit-box{
    background-color: #fff;
    border: 1px solid #e7e7eb;
}
.cs-inner-edit-box:after{
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.cs-inner-slide{
    width: 27%;
    max-width: 240px;
    border-right: 1px solid #e7e7eb;
}
.cs-inner-slide-bd{
    min-height: 530px;
}
.menu-title-bar{
    line-height: 36px;
    padding: 0 12px;
    font-size: 0;
}
.menu-title-bar:after{
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.light{
    background-color: #f4f5f9;
    border-bottom: 1px solid #e7e7eb;
}
.menu-title-bar h4{
    float: left;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
}
.menu-edit-tips{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8d8d8d;
}
.cs-tool-wrapper{
    text-align: right;
}
.inner-menu-box{
    position: relative;
    margin-bottom: 14px;
}
.inner-menu{
    border-top: 1px solid #e7e7eb;
}
.inner-menu:first-child{
    border-top-width:0
}
.inner-menu-item-selected,.inner-menu-item:hover{
    background-color: #f4f5f9;
}
.inner-menu-link{
    padding-left: 20px;
    display: block;
    color: #222;
    line-height: 34px;
}
.inner-menu-link strong{
    display: inline-block;
    margin-top: -2px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 180px;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    cursor: pointer;
}
.inner-menu-link .longer{
}
.inner-menu .inner-menu-opr{
    display: inline-block;
    margin-left: .5em;
    /*margin-top: -0.2em;*/
    position: absolute;
    top: 0;
    right: 1em;
}
.icon14{
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}
.icon16{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}
.inner-menu-item{
    position: relative;
    line-height: 32px;
}
.icon14.add-gray:hover{
    background: url("../images/base_z209e63.png") 0 -3623px no-repeat;
}
.icon14.add-gray{
    background: url("../images/base_z209e63.png") 0 -3599px no-repeat;
}
.icon14.edit-gray:hover{
    background: url("../images/base_z209e63.png") 0 -3671px no-repeat;
}
.icon14.edit-gray{
    background: url("../images/base_z209e63.png") 0 -3647px no-repeat;
}
.icon14.delete-gray{
    background: url("../images/base_z209e63.png") 0 -3695px no-repeat;
}
.icon14.delete-gray:hover{
    background: url("../images/base_z209e63.png") 0 -3721px no-repeat;
}
.icon16.add-gray:hover{
    background: url("../images/base_z209e63.png") 0 -4486px no-repeat;
}
.icon16.add-gray{
    background: url("../images/base_z209e63.png") 0 -4460px no-repeat;
}
a:hover .icon-menu-action.send{
    background:url("../images/advanced_menu_setting_z1ee6dc.png") 0 -124px no-repeat;
}
.icon-menu-action.send{
    background: url("../images/advanced_menu_setting_z1ee6dc.png") 0 0 no-repeat;
}
a:hover .icon-menu-action.url{
    background: url("../images/advanced_menu_setting_z1ee6dc.png") 0 -372px no-repeat;
}
.icon-menu-action.url{
    background: url("../images/advanced_menu_setting_z1ee6dc.png") 0 -248px no-repeat;
}
.icon-menu-action{
    width: 114px;
    height: 114px;
    vertical-align: middle;
    display: inline-block;
}
.cs-inner-slide,.cs-inner-main{
    /*width: 2000px;*/
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
}
.cs-inner-main{
    width: 2000px;
}
.cs-inner-main-bd{
    min-height: 530px;
}
/* #user-content{
    overflow:scroll !important;
} */
.icon-dot{
    position: absolute;
    top: 50%;
    left: 25px;
    margin-top: -14px;
    -webkit-transform: scale(0.8);
    font-size: 10px;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    font-size: 8px;
    color: #d5d5d5;
}
.icon-dot.red{
    color:#44b549;
    left: 0px;
    top: 15px;
    font-weight: bold;
}
.menu-leaf{
    padding-left: 36px;
}
.inner-menu-opr a{
    display: inline-block;
    margin-left: .5em;
    margin-top: -0.2em;
}
#empty_default .action-tips,.action-content.default .action-tips{
    padding-top: 200px;
    text-align: center;
}
.action-content.init{
    position: relative;
    padding: 20px;
    text-align: center;
}
.action-content.init a{
    color: #222;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.action-content.init a strong{
    display: block;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
}
.action-content.init .action-tips{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 60px;
}
.action-content.sended{
    padding: 64px 86px;
}
.action-content.sended .action-tips{
    padding-bottom: 20px;
}
.action-content .msg-wrp{
    padding: 14px 20px;
    border: 1px solid #e7e7eb;
    word-wrap: break-word;
    word-break: break-all;
    width: 59%;
}
.action-content .btn-wrp{
    padding-top: 20px;
}
.btn{
    min-width: 60px;
    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
.btn-default{
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-color: #e6e7ec;
    color: #222;
}
.btn-default:hover{
    background-color: #e6e7ec;
    background-image: -moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec));
    background-image: -webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
    background-image: -o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
    background-image: linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%);
    border-color: #dadbe0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #000;
}
.action-content.url{
    padding: 64px 86px;
}
.action-content.url .action-tips{
    padding: 0 0 20px;
}
.action-content.url .frm-control-group{
    margin-bottom: 0;
}
.frm-control-group{
    padding-bottom: 25px;
    height:60px
}
.action-content.url .frm-input-box{
    margin-bottom: 0;
}
.frm-input-box{
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    width: 300px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;
}
.frm-input{
    height: 22px;
    margin: 4px 0;
}
.frm-input,frm-textarea{
    width: 100% !important;
    background-color: transparent !important;
    border: 0 !important;
    outline: 0 !important;
}
.action-content.url .tool-bar{
    margin: 0;
    border-top-width: 0;
    text-align: left;
}
.tool-bar{
    padding-bottom: 50px;
    padding-top: 0;
}
.action-content.url .tool-bar .btn{
    margin-left: 0;
    margin-right: 1em
}
.btn-primary{
    background-color: #28b5d6;
    background-image: -moz-linear-gradient(top,#28b5d6 0,#28b5d6 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#28b5d6),to(#28b5d6));
    background-image: -webkit-linear-gradient(top,#28b5d6 0,#28b5d6 100%);
    background-image: -o-linear-gradient(top,#28b5d6 0,#28b5d6 100%);
    background-image: linear-gradient(to bottom,#28b5d6 0,#28b5d6 100%);
    border-color: #28b5d6;
    color: #fff;
}
.btn-primary:hover{
    background-color: #09c;
    background-image: -moz-linear-gradient(top,#09c 0,#09c 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#09c),to(#09c));
    background-image: -webkit-linear-gradient(top,#09c 0,#09c 100%);
    background-image: -o-linear-gradient(top,#09c 0,#09c 100%);
    background-image: linear-gradient(to bottom,#09c 0,#09c 100%);
    border-color: #09c;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff;
}
.dialog-body{
    min-height: 110px;
    padding: 55px 45px;
    text-align: center;
}
.page-msg.simple{
    text-align: center;
}
.page-msg.simple .inner{
    display: inline-block;
    text-align: left;
    min-width: 55%;
}
.page-msg.default .inner{
    background-color: transparent;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.page-msg.large .inner{
    padding: 12px 70px;
}
.page-msg .inner{
    position: relative;
    background-color: #e0eaf6
}
.page-msg .inner:after{
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.message-icon-wrp{
    float: left;
    margin-right: 10px;
    font-size: 0;
}
.icon-msg.warn{
    background: url("../images/base_z209e63.png") 0 -1916px no-repeat;
}
.icon-msg{
    width: 46px;
    height: 46px;
    vertical-align: middle;
    display: inline-block;
}
.page-msg .msg-content{
    padding-top: 0;
    overflow: hidden;
}
.page-msg h4{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}
.page-msg p{
    font-size: 14px;
    color: #8d8d8d;
    line-height: 22px;
}
.dialog-ft{
    padding: 16px 0;
    background-color: #fff;
    margin: 0;
    text-align: center;
    border-top: 1px solid transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.dialog-ft .btn{
    margin-left: .3em;
    margin-right: .3em
}
.simple-dialog-content{
    display: inline-block;
    text-align: left;
    width: 420px;
}
.frm-control-group:after{
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.frm-label{
    float: left;
    width: 5em;
    margin-top: .3em;
    margin-right: 1em;
    font-size: 14px;
}
.simple-dialog-content .frm-label{
    float: none;
    font-size: 14px;
    margin-bottom: .5em;
    line-height: 30px;
}
p#menu_name_error_tip,p#menu_url_error_tip{
    color: #F00F0F;
    line-height: 20px;
}
.qr-code-sended{
    position: relative;
    text-align: center;
    padding-top: 20px;
}
.release{
    margin-left: 900px;
}
.specific-tip{
    color: #44b549;
    font-weight: 700;
}
.action-content.media .action-tips{
    padding: 20px;
}
.action-content .msg_sender {
    margin: 0 20px 20px;
}
.msg_sender {
    border: 1px solid #e7e7eb;
}
.msg_sender .tab_navs {
    border-top-width: 0;
}
.msg_sender .tab_navs {
    background-color: #fff;
    line-height: 38px;
    height: 38px;
}
.tab_navs {
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #e7e7eb;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
}
.msg_sender .tab_nav.selected {
    background-color: #fff;
}
element.style {
}
.msg_sender .tab_nav.selected {
    background-color: #fff;
}
.tab_nav.selected {
    background-color: #d4d5d5;
}
.tab_nav {
    float: left;
    font-size: 14px;
}
.msg_sender.small .tab_nav a {
    padding-left: 10px;
    padding-right: 10px;
}
.tab_nav a {
    display: block;
    text-decoration: none;
    color: #222;
    outline: 0;
    padding: 0 20px;
}
.tab_text.selected .icon_msg_sender {
    background: url("../images/msg_tab_z1f8975.png") 0 -30px no-repeat;
}
.tab_text .icon_msg_sender {
    background: url("../images/msg_tab_z1f8975.png") 0 0 no-repeat;
}
.tab_appmsg .icon_msg_sender {
    background: url("../images/msg_tab_z1f8975.png") 0 -360px no-repeat;
}
.tab_appmsg:hover .icon_msg_sender {
    background: url("../images/msg_tab_z1f8975.png") 0 -390px no-repeat;
}
.icon_msg_sender {
    margin-right: 3px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.msg_sender .tab_panel {
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
}
.tab_panel {
    background-color: #fff;
    min-height: 216px;
}
.msg_sender .tab_content {
    padding: 0;
}
.tab_content {
    padding: 35px 30px 0;
}
.msg_sender .tab_content .inner {
    border-width: 0;
}
.tab_content .inner.no_extra {
    padding: 0;
    border-width: 0;
}
.tab_content .inner {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 14px 20px;
}
.msg_sender .emotion_editor {
    border-width: 0;
}
.emotion_editor {
    position: relative;
    z-index: 1;
    border: 1px solid #e7e7eb;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.emotion_editor .edit_area {
    padding: 14px 20px;
    outline: 0;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    background-color: #fff;
    height: 188px;
}
.editor_toolbar {
    padding: 0 20px;
    line-height: 36px;
    background-color: #fff;
    border-top: 1px solid #e7e7eb;
    height: 37px;
}
.icon_emotion.emotion_switch {
    background: url("../images/emotion_editor_z1ec5f7.png") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.icon_emotion.emotion_switch:hover{
    background: url("../images/emotion_editor_z1ec5f7.png")0 -30px no-repeat;
}
.emotion_switch {
    float: left;
    margin-top: 8px;
    height: 28px;
    line-height: 999em;
    overflow: hidden;
}
.editor_tip {
    float: right;
    color: #8d8d8d;
}
.editor_tip em {
    font-weight: 400;
    font-style: normal;
    margin-left: 3px;
    margin-right: 3px;
}
.emotion_wrp {
    display: none;
    position: absolute;
    width: 421px;
    top: 100%;
    left: 20px;
}
.emotions {
    -moz-user-select: none;
    overflow: hidden;
    border-top: 1px solid #e7e7eb;
    border-right: 1px solid #e7e7eb;
    background-color: #e7e7eb;
}
.emotions_item {
    float: left;
    line-height: 27px;
    height: 27px;
    font-size: 0;
    text-align: center;
    width: 27px;
    border-bottom: 1px solid #e7e7eb;
    border-left: 1px solid #e7e7eb;
    background-color: #fff;
}
.emotions_item i {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: transparent url(/mpres/htmledition/images/icon/emotion/default1e5b3a.gif) no-repeat 0 0;
}
.emotions_preview {
    position: absolute;
    top: 0;
    right: -81px;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 0;
    text-align: center;
    border: 1px solid #e7e7eb;
    background-color: #fff;
}
.action-content.media .tool_bar {
    padding-top: 0;
    padding-left: 20px;
    margin-top: 0;
    border-top-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-align: left;
}
.page_menu_setting .tool_bar {
    padding-top: 0;
}
.tool_bar {
    padding-bottom: 50px;
    padding-top: 20px;
}
.media .msg_sender {
    margin: 0 20px 20px;
}
.color_red{
    color: red;
}
.tab_appmsg.selected .icon_msg_sender {
    background: url("../images/msg_tab_z1f8975.png") 0 -390px no-repeat;
}
.dialog {
    border-width: 0;
    overflow: visible;
}
element.style {
}
.dialog {
    border-width: 0;
    overflow: visible;
}
.dialog {
    overflow: hidden;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.picandtext.dialog_bd {
    padding: 0;
}
.dialog_bd {
    min-height: 110px;
}
.dialog_media_container {
    position: relative;
    height: 480px;
}
.sub_title_bar.in_dialog {
    background-color: #fff;
    padding: 0 20px;
    border-bottom: 1px solid #e7e7eb;
}
.sub_title_bar {
    padding: 0 30px;
    line-height: 55px;
}
.sub_title_bar .info {
    float: left;
}
.appmsg_create a {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #222;
}
.appmsg_create i {
    cursor: pointer;
}
.icon_appmsg_small {
    background: url("../images/media_list_z1ec5f7.png") 0 -384px no-repeat;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
}
.single_a:hover .icon_appmsg_small{
    background: url("../images/media_list_z1ec5f7.png") 0 -412px no-repeat;
}
.single_a:hover strong{
    text-decoration: underline;
}
.multi_a:hover strong{
    text-decoration: underline;
}
.appmsg_create strong {
    display: inline-block;
    cursor: pointer;
    margin-left: 3px;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
}
.icon_appmsg_small.multi {
    background: url("../images/media_list_z1ec5f7.png") 0 -440px no-repeat;
}
.multi_a:hover .icon_appmsg_small{
    background: url("../images/media_list_z1ec5f7.png") 0 -468px no-repeat;
}
.media_dialog.appmsg_list {
    position: relative;
    padding: 28px 140px;
    height: 365px;
    margin: 0;
    overflow-y: scroll;
}
.appmsg_list {
    text-align: justify;
    /*text-justify: distribute-all-lines;*/
    font-size: 0;
    margin: 0 30px;
    letter-spacing: -4px;
}
.media_dialog .appmsg_col {
    width: 48%;
}
.appmsg_col {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    font-size: 14px;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
}
.dialog_ft {
    padding: 16px 0;
    background-color: #f4f5f9;
}
.dialog_ft {
    margin: 0;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.dialog_ft .btn {
    margin-left: .3em;
    margin-right: .3em;
}
.btn.btn_input {
    min-width: 104px;
    padding: 0;
}
.btn.btn_input button {
    width: 100%;
}
.btn-primary button {
    color: #fff;
}
.btn button {
    display: block;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: visible;
    padding: 0 22px;
    cursor: pointer;
}
.sub_title_bar.in_dialog {
    background-color: #fff;
    padding: 0 20px;
    border-bottom: 1px solid #e7e7eb;
}
.sub_title_bar {
    padding: 0 30px;
    line-height: 55px;
}
.sub_title_bar {
    line-height: 38px;
    padding: 0 20px;
}
.sub_title_bar:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.cs-col-slie-main-bd .content_wrap {
    margin: 0 30px;
}
.cs-col-slie-main-bd .reply_tab_wrp {
    margin-top: 20px;
    margin-bottom: 20px;
}
.global_mod.mt_layout {
    line-height: 30px;
}
.section_tab .tab_navs {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    line-height: 14px;
}
.section_tab .tab_nav.selected {
    background-color: #576477;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: -1px;
    text-decoration: none;
}
.tab_nav.selected {
    background-color: #d4d5d5;
}
.tab_nav {
    float: left;
    font-size: 14px;
}
.section_tab .tab_nav.selected a {
    color: #fff;
    line-height: 30px;
    margin: 0;
    border: 0;
}
.section_tab .tab_nav a {
    margin: 8px 0;
    min-width: 64px;
    border-right: 1px solid #d9dadc;
}
.tab_nav a {
    display: block;
    text-decoration: none;
    color: #222;
    outline: 0;
    padding: 0 20px;
}
.tab_nav a {
    display: block;
    text-decoration: none;
    color: #222;
    outline: 0;
    padding: 0 20px;
}
.page_advanced_reply .msg_sender {
    margin-bottom: 20px;
}
.page_advanced_reply .reply_tab_wrp {
    margin-top: 20px;
    margin-bottom: 20px;
}
.global_mod.mt_layout .section_tab{
    height: 30px;
}
.msg_sender .model_content{
    padding: 20px 0px 0px 20px;
}
.appmsg_col {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    font-size: 14px;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
}
.create_access {
    display: block;
    border: 2px dotted #d9dadc;
    line-height: 80px;
    text-align: center;
    margin-bottom: 20px;
}
.icon36_common.add_gray {
    background: url("../images/base_z209e63.png") 0 -2791px no-repeat;
}
.create_access i {
    cursor: pointer;
}
.icon36_common {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    display: inline-block;
    line-height: 300px;
    overflow: hidden;
}
.create_access:hover .menu_area {
    display: inline-block!important;
}
.cs-inner-main-bd #user_table{
    overflow: auto!important;
    height: 500px;
}
.cs-inner-main-bd #user_table #site_title,.cs-inner-main-bd #user_table .data_time_pick{
    float: left;
}
.cs-inner-main-bd #user_table .data_time_pick{
    margin-left:100px
}
.cs-inner-main-bd #user_table .query_btn_row{
    float: right;
}
.cs-inner-main-bd #content-toolbar:after{
    content:close-quote;
    display: block;
    height: 0;
    clear: both;
}
.cs-inner-main-bd #content-toolbar{
    top:0px!important;
    line-height: 58px;
}
.cs-inner-main-bd #content-toolbar .frm-input-box{
    width: 100px;
}
.cs-inner-main-bd #content-table{
    top:58px!important;
    bottom:0px!important;
    height: 412px!important;
}
.cs-inner-main-bd #content-paging{
    /*top:442px!important;*/
}
#site_title a{
    color: #222;
}
#site_title strong{
    display: inline-block;
    margin-top: -2px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 180px;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    cursor: pointer;
}
.query_btn_row .btn{
    margin-right: 10px!important;
    padding: 0px!important;
}
.menu-manage.scroll{
    height: 556px;
    overflow-y: scroll;
}